<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>
    <h1>Edit Appointment</h1>
    <table class="table table-striped">
                <tr scope="row">
                    <td>Appointment:{{Appointments.appointment}}</td>
                    <td>Date{{Appointments.date}}</td>
                    <td>Time{{Appointments.time}}</td>
                </tr>
    
            <tbody>
                <tr scope="row">
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
            </tbody>
    </table>
    <form action="editprocess/{{Appointments.id}}" method="POST">
        {% csrf_token %} 
    Appointment: <input type="text" name="appointment">
    Date: <input type="text" name="date">
    Time:  <input type="text" name="time">
    <input type="submit">
    </form>
    

    </body>
</html>